<section class="header-section">
  <div class="header-title">
    <h6>
      Sign In
    <h6>
  </div>
</section>

<main>
  <%= render partial: "form" %>
</main>

<div class="visitor-tip">
  <p>New to Backpacker? <%= link_to 'Click Here to Create an Account', new_user_path %><p>
</div>
