<section class="header-section">
  <div class="header-title">
    <h6>
      Create a New Account
    <h6>
  </div>
</section>

<main>
  <%= render partial: "form" %>
</main>

<div class="visitor-tip">
  <p>Already have an account? <%= link_to 'Click Here to Sign In', new_user_path %><p>
</div>
