<section class="header-section">
  <div class="header-title">
    <h6>
      All Countries
    <h6>
  </div>
  <div class="header-links">
    <%= link_to '<i class="far fa-plus-square"></i> Add New Country'.html_safe, new_admin_country_path  %>
  </div>
</section>

<div class="table table-hover">
  <table>
    <thead class="table-collection">
      <tr class="table-header">
        <th>Country Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-collection">
      <% @countries.each do |country| %>
        <tr class="table-item">
          <td><%= country.name %></td>
          <td>
          <div class="edit-delete">
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_admin_country_path(country) %>
              <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, admin_country_path(country), method: :delete, data: { confirm: "You are about to delete this country."} %>
          <div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
