<section class="header-section">
  <div class="header-title">
    <h6>
      My Destinations
    <h6>
    <div class="header-links">
      <%= link_to '<i class="far fa-plus-square"></i> Add a Destination'.html_safe, new_destination_path  %>
    </div>
  </div>
</section>

<div class="cards">
    <% @destinations.each do |destination| %>
      <div class="card destination-<%= destination.id %>">
        <img src="images/default_destination.jpg" alt="default destination image">
        <h1>
          <p><%= link_to destination.title, destination_path(destination) %></p>
          <p><%= destination.country.name %></p>
        </h1>
      </div>
    <% end %>
</div>
