<section class="header-section">
  <div class="header-title">
    <h6>
      My Destinations
    <h6>
  </div>
</section>

<div class="cards">
    <% @destinations.each do |destination| %>
      <div class="card destination-<%= destination.id %>">
        <img src="default_destination.jpg" alt="default destination image">
        <h1><%= destination.title %></h1>
        <h1><%= destination.country.name %></h1>
      </div>
    <% end %>
</div>
