<section class="header-section">
  <div class="header-title">
    <h6>
      All Images
    <h6>
  </div>
  <div class="header-links">
    <%= link_to '<i class="far fa-plus-square"></i> Add New Image'.html_safe, new_admin_image_path  %>
  </div>
</section>
