<section class="header-section">
  <div class="header-title">
    <h6>
      Edit Account Information for <%= @user.username %>
    <h6>
  </div>
</section>

<main>
  <%= render partial: "form" %>
</main>
